{% extends "blog/base.html"%}
{% block content %}
<style>

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
}

.darkmode--activated table, td, th {
    border: 1px solid grey;
}
</style>
{{title1}}
    <table border="2">
      <tr>
        <th>#</th>
        <th>GOAL OBJECTIVE</th>
        <th>GOAL TYPE</th>
        <th>COMPLETED?</th>
        <th>UPDATE</th>
        <th>REMOVE</th>
      </tr>
      {% for instance in queryset %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{instance.goal_objective}}</td>
        <td>{{instance.goal_choice_type}}</td>
        <td>{{instance.goal_accomplished}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'goal_edit' instance.id %}">Update</a></td>
        <td><a class="btn btn-sm btn-danger" href="{% url 'goal_delete' instance.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>



       {{title2}}
      <form method="post" action="">
              {% csrf_token %}
              {{form.as_p}}
              <input type="submit" value="Save" />
      </form>

{% endblock content %}

